@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Krona+One&family=Montserrat:ital,wght@0,300;0,400;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Jomhuria&family=Krona+One&family=Montserrat:ital,wght@0,300;0,400;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Imperial+Script&family=Jomhuria&family=Krona+One&family=Montserrat:ital,wght@0,300;0,400;1,400&family=Open+Sans:ital,wght@1,300&display=swap');
* {
    margin: 0;
    padding: 0;
}

.button {
    background-color: #0e9cbc;
    margin-left: 15px;
    margin-right: 15px;
    font-size: 15px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: white;
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 5px;
}

.principal {
    
    background-color:#000000;
    opacity: 0.92;
    background-repeat: no-repeat;
    background-size: cover;
   
    /*
      
        background: url("D:/scripts/interfone/imagens/background.jpg");
    b;
    */
}


.titulo {
    font-family: 'Imperial Script', cursive;
    text-align: center;
    color: white;
    font-size: 60px;
    padding-bottom: 10px;
 
}

.subtitulo{
    color: white;
    padding-left: 10px;
    padding-top: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;    

}

.title__bloco{
    color: white;
    padding-top: 25px;
    padding-left: 10px;
    padding-bottom: 10px;
    font-size: 30px;
    font-family: 'Open Sans', sans-serif;
 

}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.lista{
  padding-left: 10px;
  padding-bottom: 10px;
}

.apto{
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: white;
    border-bottom: 10px;
    font-size: 15px;

}